body{
    /*background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
    https://www.w3schools.com/cssref/css3_pr_background.php
    */
    /*background: linear-gradient(135deg, #fef7ed 0%, #d5ea96 100%) */
    background:url("assets/img/adventure-map.svg") 100% 120%/auto no-repeat border-box padding-box scroll;
}

.container-style{
    font-family: Arial, sans-serif;
}
.custom-bg-brown{
    width: 100%;
    padding: 12px;
    background-color: #d5ea96;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}
.custom-fg-brown{
    color: #d5ea96 !important;
    font-weight: bold;
    cursor: pointer;
}
.input-group-text{
    height: 40px;
}
/* footer sticky */
html, body {
    height: 100%;
    margin:0;
}
footer {
    flex-shrink: 0 ; /* No se encoge */
}